<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Nombre del Proyecto</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css" />
    </head>
    <body>
        
        
        <nav class="navbar navbar-light bg-light" style="color: rgb(56, 66, 109);">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                     <img src="assets/img/logo-universidad.png" alt="" width="150" height="40" class="d-inline-block align-top">
                  

                </a>
                <h1>
                    NOMBRE APLICACION
                </h1>
                <button  class="btn btn-sm btn-outline-secondary" type="button"><a href="inicio">INICIO</a></button>
               
                
            </div>
            
        </nav>
       
       {{> carrusel }}
      
        

    <footer >
        <a></a><a></a>
        <p></p>
        <p></p>
        <p></p>   

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div><p style="text-align: center;">© {{ getanio }} Copyright: Wladimir Guallichico Moposita - Jefferson Eduardo Castro Orosco </p></div>
      
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">    <p style="text-align: right;">  <img  src="/assets/img/logo-universidad.png" height="40px"></p> </div>
  
            </div>
        </div>


    </footer>
       
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    </body>
</html>